.img-clickable {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.img-clickable:hover {
    box-shadow: 0 0 20px rgba(0,200,0,1);
}
.img-chosen {
    box-shadow: 20px 0px 50px rgba(255,215,0,0.5),
                -20px 0px 50px rgba(255,215,0,0.5),
                0px 20px 50px rgba(255,215,0,0.5),
                0px -20px 50px rgba(255,215,0,0.5),
    ;
}
.img-candidate {
    max-height: 300px;    
}
.img-candidate.left {
    margin-right: 50px;
}
#vote-box {
	text-align: justify;
	white-space: nowrap;
	margin: 0 auto;
	display: inline-block;
}
.center {
	text-align: center;
}
#toptable img {
    max-width: 400px;
}
